<html>
<body>
    <div>
      <h1 style="text-align: center; color:red">Une erreur est survenue</h1>  
      <h1 style="text-align: center; color:rgb(46, 29, 29); margin-top: 7%; margin-left: 3%;">L API Demandée n'est pas disponible</h1>  
   </div>

</body>

</html>
